.alignments{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}
.head-menu{
    font-family: 'Montserrat', sans-serif;
    
}
.head-menu-item{
    margin-left: 78px;
    margin-right: 78px;
    float: left;
    padding: 30px 0px;
}
.text-head{
    color: black;
    text-decoration: none;
}
.main-info{
    float: left;
    margin: 30px 150px;
}
.image{
    background-image: url(../image/foto.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.names{
    font-size: 40px;
    font: bold;
}
.prof{
    font-size: 14px;
}
.rotate-text{
    width: 100px;
    transform: rotate(-90deg);
}
.text-style{
    font-family: 'Montserrat', sans-serif;
    color:black
}
.text-alignment{
    text-align: center;
}
.items-head{
    font-size: 30px;
    font: bold;
}
.items{
    font-size: 12px;
    font: bold;
}
.skills-info{
    float: left;
    margin: 30px 50px;
}